// colors
$primary: #EB25EB;
$main : #292726;
$mainDark : #1B1D1B;
$black: #000;
$white: #fff;
$gray: #707070;
// fonts
$martel: 'Martel Sans', sans-serif;
$helvetica: "Helvetica";

$shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

