.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: $shadow;
  background-color: $mainDark;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
  }
  &__inner {
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 425px;
      img {
        width: 100%;
      }
    }
  }
}
// 1580px
@mixin header-xxxxxlg-xxxxxxlg {
  .header {
    &__inner {
      &-logo {
        width: 350px;
      }
    }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
      padding: 18px 0;
      &-logo {
        width: 300px;
      }
    }
  }
}
// 1180px
@mixin header-xlg-xxlg{
  .header {
    &__inner {
      &-logo {
        width: 240px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      align-items: center;
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 15px 0;
      &-logo {
        width: 180px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
